diffik_qpsolvers.py
diffik_qp.py
__pycache__/utils.cpython-311.pyc
__pycache__/
.idea/.gitignore
.idea/misc.xml
.idea/mj_ctrl.iml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml

angular_speed_sweep/**/control_torques.png
angular_speed_sweep/**/joint_g_torques.png
angular_speed_sweep/**/joint_torques.png
